<article class="article article-links article-type-list" itemscope="">
  <header class="article-header">
    <h1 itemprop="title">
      <%= page.title %>
    </h1>
    <p class="text-muted">
      <%= __('page.links-desc') %>
    </p>
  </header>
  <div class="article-body" style="padding-bottom: 13px;">
    <div class="row">
      <% for (var link in site.data.links) { %>
        <% var item=site.data.links[link]; %>
          <div class="col-sm-4 col-md-4">
            <h4>
              <a href="<%= item.link %>" target="_blank">
                <span class="text-dark">
                  <%= link %>
                </span>
                <small class="text-muted">
                  <%= item.desc %>
                </small>
              </a>
            </h4>
          </div>
          <% } %>
    </div>
  </div>
</article>
<% if (theme.comment.type && !is_home()) { %>
  <%- partial('_partial/post/comment', {post: page}) %>
    <% } %>